<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G165</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleALC</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.AppleALC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleALC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6.7</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13A233</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>20E214</string>
	<key>DTSDKName</key>
	<string>macosx11.3</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A233</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALCUserClientProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>IOClass</key>
			<string>ALCUserClientProvider</string>
			<key>IOMatchCategory</key>
			<string>ALCUserClientProvider</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecDevice</string>
			<key>IOUserClientClass</key>
			<string>ALCUserClient</string>
		</dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Xavier Xia - Realtek ALC274 for Surface Pro 7</string>
					<key>CodecID</key>
					<integer>283902580</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6gAScfkAE3HPABNx0AATce
					AAE3H0ABRxzwAUcdAAFHHgABRx9AAVcc8AFX
					HQABVx4AAVcfQAFnHPABZx0AAWceAAFnH0AB
					dxzwAXcdAAF3HgABdx9AAYcc8AGHHQABhx4A
					AYcfQAGXHCABlx0QAZcegQGXHwMBpxzwAacd
					AAGnHgABpx9AAbccQAG3HQEBtx4QAbcfkAG3
					DAIB1xzwAdcdAAHXHgAB1x9AAecc8AHnHQAB
					5x4AAecfQAH3HPAB9x0AAfceAAH3H0ACFxxQ
					AhcdEAIXHisCFx8DAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283906408</integer>
					<key>CodecName</key>
					<string>Xavier Xia - Realtek ALC S1220A for Z390i Asus </string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHIABRx1AAUce
					AQFHHwEBRwwCAVccggFXHRABVx4BAVcfAQFn
					HIEBZx1gAWceAQFnHwEBdxzwAXcdAAF3HgAB
					dx9AAYcccAGHHZABhx6hAYcfAQGXHHABlx2Q
					AZceoQGXHwIBpxwgAacdMAGnHoEBpx8BAbcc
					UAG3HRABtx4rAbcfAgG3DAIB1xzwAdcdAAHX
					HgAB1x9AAeccYAHnHSAB5x5FAecfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>66</integer>
					<key>WakeConfigData</key>
					<data>
					AbcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
